@import "../partials/global";

.home {
  padding: 2rem 0rem;
  margin: 0% 8%;
}
.slogan {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }
  &_text {
    font-weight: bold;
    font-size: 40px;
    text-align: start;
  }
  &_description {
    text-align: start;
    margin: 0;
  }
}
