@import "../partials/global";

.advanced-search {
  display: flex;
  padding: 25px 8%;
  flex-direction: column;
  background-color: $grey2;

  &-title {
    text-align: left;
  }
  &-checks {
    display: flex;
  }
  &-btn {
    width: 100px;
  }
  &-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
}

.form-check {
  display: flex;
  margin-bottom: 10px;
  &-label {
    font-size: 0.8rem;
  }
  &-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
