@import "../partials/global";

.advanced-search {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  &_title {
    text-align: left;
  }
  &_checks {
    display: flex;
  }
  &_btn {
    min-width: 100px;
    width: 15%;
  }
  &_btn_container {
    display: flex;
    justify-content: flex-end;
  }
}

.form-check {
  display: flex;
  margin-bottom: 10px;
  &_label {
    font-size: 0.8rem;
  }
  &_checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
