@import "../partials/global";

.search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.search-bar {
  display: flex;
  padding: 0% 8%;

  @include tablet {
    padding: 0;
    width: 60%;
    margin-left: 8%;
  }
  @include desktop {
    width: 50%;
  }
}

.input-group-text {
  background-color: white;
  height: 45px;
}

input {
  border: grey solid 1px;
  border-radius: 5rem;
  font-size: 0.8rem;
  padding: 0.2rem 0.8rem 0.2rem 2.5rem;
  outline: none;
  width: 100%;
}

.filter-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  color: grey;
  margin-bottom: 10px;
}

.search-btn {
  border: none;
  min-width: 140px;
  padding: 0;
  height: 45px;
}
