@font-face {
  font-family: "Baskerville";
  src: url(../assets/fonts/LibreBaskerville-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baskerville";
  src: url(../assets/fonts/LibreBaskerville-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-SemiBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
