@font-face {
  font-family: "Baskerville";
  src: url(../assets/fonts/LibreBaskerville-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baskerville";
  src: url(../assets/fonts/LibreBaskerville-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
