@import "./partials/global";

.App {
  text-align: center;
}

p {
  text-align: start;
}

header {
  display: flex;
  background-color: $background;
  padding: 0% 8%;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  &-container {
    text-decoration: none;
    color: $text-color;
    display: flex;
    align-items: center;
    &:visited {
      color: $text-color;
    }
  }
}
