@import "./partials/global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: normal;
  font-style: normal;
  color: text-color;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: lightgrey;
  opacity: 1;
}
